/*------------------------------------------------------------------------------------*/
/* FONT BASE                                                                          */
/*------------------------------------------------------------------------------------*/

html {
	/* font-size: 62.5%; */
	font-size: 10px;
}

body {
	@mixin text;
	font-size: $d_fs; /* Chrome bug with rem so using px instead */
	line-height: $d_lh; /* Chrome bug with rem so using px instead */
	color: $c_dark_secondary;
}

h1, h2, h3, h4, h5, h6, th {
	@mixin headline;
	color: $c_dark_primary;
}

h1 { font-size: 4.8rem; }
h2 { font-size: 4.2rem; }
h3 { font-size: 3.6rem; }
h4 { font-size: 3.0rem; }
h5 { font-size: 2.4rem; }
h6 { font-size: 1.8rem; }

/*------------------------------------------------------------------------------------*/
/* FONT COLORS                                                                        */
/*------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, p, span, a, i, em, li, th, td, label, legend {
	&.primary {
		color: $c_color_primary !important;
	}

	&.secondary {
		color: $c_color_secondary !important;
	}

	&.dark {
		color: $c_dark_primary !important;
	}
}