//------------------------------------------------------------------------------------
// COLOR
//------------------------------------------------------------------------------------

$c_color_primary:	#B27100; // Gold
$c_color_secondary:	#FFAB19; // Light Gold

$c_light_primary:	#FFFFFF; // White
$c_light_secondary:	#F5F2F0; // Light Cream

$c_dark_primary:	#556270; // Mighty Slate
$c_dark_secondary:	#666666; // Grey

//------------------------------------------------------------------------------------
// Z-INDEX
//------------------------------------------------------------------------------------

$z_header: 1000;
$z_popup: 1100;

//------------------------------------------------------------------------------------
// FONT STACK
//------------------------------------------------------------------------------------

$f_stack: 'Lato', 'Microsoft Yahei', '微软雅黑', 'Yuanti SC', 'STXihei', '华文细黑', 'SimHei', '黑体', sans-serif;

//------------------------------------------------------------------------------------
// TIMINGS
//------------------------------------------------------------------------------------

$t_animation: 200ms;

//------------------------------------------------------------------------------------
// DIMENSIONS
//------------------------------------------------------------------------------------

/* Font */
$d_fs: 1.6rem;
$d_vr: 2.8rem;

/* Devices */
$d_xs: 479px;
$d_sm: 480px;
$d_md: 768px;
$d_lg: 960px;
$d_xl: 1200px;
$d_sm_max: calc($d_md - 1px);
$d_md_max: calc($d_lg - 1px);
$d_lg_max: calc($d_xl - 1px);

//------------------------------------------------------------------------------------
// BREAKPOINTS
//------------------------------------------------------------------------------------

$b_xs: (max-width: $d_xs);
$b_sm: (min-width: $d_sm);
$b_md: (min-width: $d_md);
$b_lg: (min-width: $d_lg);
$b_xl: (min-width: $d_xl);
$b_sm_max: (max-width: $d_sm_max);
$b_md_max: (max-width: $d_md_max);
$b_lg_max: (max-width: $d_lg_max);

//------------------------------------------------------------------------------------
// GRID
//------------------------------------------------------------------------------------

$g_columns: 12;